<% @articles.each do |article| %>
  <div class="article-index">
    <li><%= article.title %></li>
    <a href="<%= "/categories/#{article.categories.first.name}/articles/#{article.title}" %>"><%= article.title %></a>
  </div>
<% end %>